.Panel {
    background-color: lightgrey;
    border-radius: 0.5em;

    &__content {
        padding:1em;
    }

    &-full {
        width: 100%;
    }

    &-half {
        width: 50%;
    }

    &-third {
        width: 33.333%;
    }

    &-quater {
        width: 25%;
    }
}