.TestimonialCard {
    width:200px;
    height:300px;
    border-radius:10px;

    &__Header{
        background:#eee;
        width:100%;
        height:40%;
    }

    &__Image{
        background:#000;
        width:100%;
        height:100%;
        background-size: cover;
        background-position: center center;
    }

    &__Content{
        background:#ffa;
        height:60%;
    }


    &__Quote{
        width:20%;
        height:30px;
        margin:0px auto;
        text-align: center
    }

    &__Title{
        margin:0px auto;    
        text-align: center;
    }

    &__Subtitle{
        margin:0px auto;
        text-align: center;
    }

    h3, h4{
        margin:0;
        padding:0;
    }

    &__Body{
        text-align:center;
    }

    &__ReadMore{
        text-align: center;
    }
}