$c-prwd-blue: #4C88C7;
$c-light-grey: #D0D0D0;
$t-card-open: cubic-bezier(0.2,0.8,0.2,1);

$c-harveys: #33b8b6;
$c-vaping: #77d5e2;
$c-kumon: #7dcdf4;
$c-beerhawk:#69a740;
$c-bensons:#9f218b;
$c-mossbros: #0d1e2c;
$c-suntransfers: #fbca4b;
$c-saveurbiere: #ffb400;
$c-carrot:#e37200;


.ExperimentCard {
    font-family: 'Montserrat', sans-serif;
    color:#707070; 
    width:250px;
    margin: 0.5em;
    background-color:white;
    border: 1px solid $c-light-grey;
    border-radius: 12px;
    overflow: hidden;
    cursor:pointer;
    transition: 0.8s cubic-bezier(0.2,0.8,0.2,1);
    animation: cardLoad 3s cubic-bezier(0.2,0.8,0.2,1);

    &__top {
        height: 60px;
        border-bottom: 1px solid $c-light-grey;
        position: relative;
    }

    &__overlay {
        visibility: hidden;
        opacity: 0;
        width: 100%;
        height: 100%;
        display: block;
        position: absolute;
        //transition: 0.3s;
    }

    &__logo {
        display: block;
        position: relative;
        top: 20px;
        height:60px;
        width:60px;
        padding:10px;
        border:1px solid $c-light-grey;
        border-radius: 100%;
        overflow: hidden;
        margin:0 auto;
        background:white;
    }

    &__middle {
        padding: 2.5em 1em 0 1em;
        overflow: hidden;

    }
    &__id {
        font-size:1.1em;
        margin:1em 0 0.5em 0;
        text-align:center;

    }

    &__name {
        font-size:1em;
        font-weight: 400;
        margin:0.25em 0.5em 0.5em 0.5em;
        text-align:center;
    }

    &__info {
        height:40px;
        list-style:none;
        padding:1em 0;
        margin:0;
        font-size:1em;
        transition: height 0.6s $t-card-open;

        li {
            display: inline-block;
            font-size:0.8em;
            padding: 0.5em 1.2em;
            margin: 0.35em;
            border: 1px solid $c-light-grey;
            border-radius: 15px;

            > span:first-of-type > svg {
                position:relative;
                right:3px;
            }
            > span:last-of-type {
                position:relative;
                left:3px;
            }
        }
    }

    &__uplift {
        display: inline-block;
        transition: 0.4s cubic-bezier(0.2,0.8,0.2,1);

        &--win {
            border-color:#00c592;
            color:#00c592;
        }

        &--loss {
            border-color:#e65050;
            color:#e65050;
        }

        &--iterate {
            border-color:#e69b50;
            color:#e69b50;
        }

        &--running {
            border-color:#707070;
            color:#707070;
        }

        &--axed {
            border-color:#e69b50;
            color:#e69b50;
        }
    }

    &__start-date {
        display: inline-block;
    }

    &__pm, &__sm {
        display:none;
        visibility: hidden;
        opacity: 0;
        transition: 0.6s $t-card-open;
    }

    &__bottom {
        height: 12px;
        background-color:$c-light-grey;

        &--vaping{
            background-color: $c-vaping;
        }

        &--kumon{
            background-color: $c-kumon;
        }

        &--harveys{
            background-color: $c-harveys;
        }

        &--beerhawk{
            background-color: $c-beerhawk;
        }

        &--bensons{
            background-color:$c-bensons;
        }

        &--mossbros{
            background-color: $c-mossbros;
        }

        &--suntransfers{
            background-color: $c-suntransfers;
        }

        &--saveurbiere{
            background-color: $c-saveurbiere;
        }

        &--carrot{
            background-color: $c-carrot;
        }

    }

    &__view {
        display:none;
        visibility: hidden;
        opacity: 0;
        font-size: 0.9em;
        font-weight:500;
        color:#ffffff;
        background-color: $c-prwd-blue;
        text-align: center;
        padding: 0.8em 0 1em 0;

    }

    &:hover {
        box-shadow: 0 10px 20px rgba(0,0,0, 0.25);
        transform: translateY(-5px);
        
        .ExperimentCard {

            &__top {
                &--harveys {
                    background-image: url("/images/ExperimentCard/harveys.jpg");
                }
            }
            
            &__overlay {
                visibility: visible;
                opacity: 0.5;
                
                &--vaping{
                    background-color: $c-vaping;
                }
        
                &--kumon{
                    background-color: $c-kumon;
                }
        
                &--harveys{
                    background-color: $c-harveys;
                }
        
                &--beerhawk{
                    background-color: $c-beerhawk;
                }
        
                &--bensons{
                    background-color:$c-bensons;
                }
        
                &--mossbros{
                    background-color: $c-mossbros;
                }
        
                &--suntransfers{
                    background-color: $c-suntransfers;
                }
        
                &--saveurbiere{
                    background-color: $c-saveurbiere;
                }
        
                &--carrot{
                    background-color: $c-carrot;
                }

            }

            &__pm, &__sm, &__view  {
                visibility: visible;
                opacity: 1;
            }

            &__pm, &__sm {
                display:inline-block
            }

            &__view {
                display:block;
                transition: 0.2s;
                &:hover {
                    background-color:#73aae5;
                }
            }

            &__bottom {
                height:42px;
            }

            &__info {
                height: 80px;
            }


            &__uplift, &__pm {
                &--win {
                    background-color:#00c592;
                    color:white;
                }
        
                &--loss {
                    background-color:#e65050;
                    color:white;
                }
        
                &--iterate {
                    background-color:#e69b50;
                    color:white;
                }
        
                &--running {
                    background-color:#707070;
                    color:white;
                }
        
                &--axed {
                    background-color:#e69b50;
                    color:white;
                }
            }



        }
    }
}
@keyframes cardLoad {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);  
    }
}