.Button {
    background-color:black;
    border: 1px solid black;
    color:#ffffff;
    cursor: pointer;
    font-size: 14px;
    height:50px;
    transition: 300ms;
    width: 100%;

    @media (min-width:769px) {
        width:25%;
    }

    &--disabled{
        background:lightgrey;
        border-color:lightgrey;
        opacity: 0.7;
    }

    &--primary {
        background-color:#39df39;
        border-color:#39df39;

        &:hover {
            background-color:transparent;
            color:#39df39;
        }
    }

    &--secondary {
        background-color:transparent;
        border-color:#39df39;
        color:#39df39;

        &:hover {
            background-color: #39df39;
            color: white;
        }
    }
}