$c-tab-bg: grey;
$c-tab-c: black;
$c-tab-active-c: white;
$c-tab-active-bg: green;

.Tabs {
	&__ul {
		display: block;
		display: flex;
		flex-wrap: nowrap;
		list-style-type: none;
		margin: 0;
		overflow-x: auto;
		padding: 0;
	}

	&__li {
		background-color: $c-tab-bg;
		color: $c-tab-c;
		cursor: pointer;
		display: inline-block;
		padding: 1em;
		min-width: fit-content;
		text-align: center;

		&--active {
			background-color: $c-tab-active-bg;
			color: $c-tab-active-c;
			font-weight: bold;
		}
	}

	&__container {
		width: calc(100% - 2px);
		border: 1px solid grey;
	}

	&__content {
		margin: 1em;
		max-width: 100%;
	}

	&--flex {
		.Tabs {
			&__ul {
				display: flex;
			}

			&__li {
				flex-grow: 1;
				padding: 1em 0;
			}
		}
	}

	&--vertical {
		.Tabs {
			&__ul {
				display: block;
			}
			&__li {
				clear: both;
				display: block;
				padding: 1em 0;
				width: 100%;
			}

			&__container,
			&__tab {
				display: inline-block;
				width: 50%;
			}

			&__container {
				float: right;
				border: none;
			}
		}
	}
}
