.Progress {
    &__Bar {
        display: flex;
    }

    @include respond-to-max($xsmall) {
        &__Bar {
            display: none;
        }
    }


    &__Titles {
        display: flex;
        justify-content: space-around;

        @include respond-to-max($xsmall) {
            display: block;
        }
    }

    &__Title {
        @include respond-to-max($xsmall) {
            border: 1px solid red;
        }


        flex-grow: 1;
        min-width: 0;
        flex-basis: 0;
        padding: 5px;
    }

    &__TitleInner {
        min-width: 0;
        text-align: center;
    }
}

.Landmark {
    display: flex;
    flex-grow: 1;
    align-items: center;

    &__Bar {
        background-color: #ddd;
        flex-grow: 1;
        height: 2px;

        &--completed {
            background-color: red;
        }

        &--hidden {
            height: 0;
        }
    }

    &__Dot {
        background-color: #aaa;
        max-width: 14px;
        height: 14px;
        flex-grow: 1;
        border-radius: 50%;
        border: 3px solid #fff;

        &--completed {
            background-color: red;
        }
    }
}
