.Select {
    
    padding:1em;
    &__label {
        display:inline-block;
        padding:0 1em ;
    }
    &__select {
        display:inline-block;
        width:150px;
        height:30px;
        background:#FFFFFF;
        border: 1px solid #838B98;
        font-size: 14px;
    }
}
