.RadioPanel {
	&__ul {
		list-style-type: none;
		margin: 0;
		padding: 0;

		&--flex {
			display: flex;

			> li {
				flex-grow: 1;
			}
		}
	}
	&__li {
		border: 1px solid blue;
		cursor: pointer;
		display: inline-block;
		margin: 0.5em;
		padding: 1em;

		&--selected {
			background-color: blue;
			color: white;
		}
	}

	&__icon {
		> svg {
			display: block;
			margin: 0 auto 0.2em auto;
		}
	}

	&__radio {
		display: none;
	}

	&__label {
		cursor: pointer;
		display: block;
		margin: 0 auto;
		text-align: center;
	}
}
