.Jumbotron {
    min-height: 200px;
    display:inline-block;
    width:100%;

    &--PRWD{
        color:black;
    }

    &--dark{
        color:white;
    }
}

.Jumbotron__Inner{
    margin:1em;

    &--left{
        text-align: left;
    }

    &--center{
        text-align: center;
    }

    &--right{
        text-align: right;
    }
    
}
