.Search {
	display: flex;
	width: 100%;

	&__input {
		display: inline-block;
		width: calc(100% - 120px);
		font-size: 1em;
		border: 1px solid grey;
		text-indent: 1em;

		&::placeholder {
			color: #707070;
			font-size: 1em;
		}

		&:focus {
			outline: none;
		}
	}

	&__button {
		display: inline-block;
		width: 120px;
		padding: 0.5em;
		font-size: 1em;
		border: 1px solid grey;
		border-left: none;
		background-color: grey;
		color: white;
		cursor: pointer;

		&:hover {
			background-color: lightgrey;
		}

		> svg {
			font-size: 1.1em;
			position: relative;
			right: 5px;
		}

		&:focus {
			outline: none;
		}
	}

	&__icon {
		&--left {
			margin-right: 0.5em;
		}

		&--right {
			margin-left: 0.5em;
		}
	}
	&__ul {
		width: calc(100% - 120px);
		margin: 0;
		padding: 0;
		list-style-type: none;
	}

	&__li {
		padding: 0.5em 1em;
		border: 1px solid grey;
		cursor: pointer;
	}
}
