.Accordion {
    transition: 0.4s;
    
    &__title{
        background:lightgray;
        padding:0.5em 1em;
        cursor: pointer;
        border-bottom:1px solid black;

        &--open{
            background:wheat
        }
    }

    &__icon{
        float:right;
    }
    
    &__body{
        display:none;

        &--open{
            display:block;
        }
    }

    &__innerBody{
        padding: 0.5em 1em;
    }
}