.Link {
    display: block;
    max-width: max-content;
    position: relative;
    text-decoration: none;
    
    &--underline {
        text-decoration: underline;
    }

    &__icon {

    }

    &__text {
        font-weight:bold;
        margin: 0 0.25em;
    }
}